body {
  background-image: url("../../public/img/background.jpg");
  background-attachment: fixed;
  font-family: arial, Helvetica, sans-serif;
  margin: 0;
  position: relative;
  min-height: 100vh;
}
body header {
  display: flex;
  background: #000;
  padding: 30px;
  border-bottom: 3px solid #ffcb08;
  box-shadow: 0px 0px 30px black;
}
body header #activeUserDisplay {
  color: white;
}
body header .logo {
  width: 18%;
}
body header nav {
  width: 64%;
  text-align: center;
}
body header nav ul {
  list-style-type: none;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: end;
}
body header nav ul li {
  margin-right: 20px;
}
body header nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Arial Narrow Bold", sans-serif;
  padding: 30px 10px;
  color: #fff;
  transition: ease-in-out 0.2s;
  font-size: 15px;
  font-weight: bold;
  position: relative;
}
body header nav ul li a:hover::before {
  width: 82%;
  background-color: #ffcb08; /* Couleur de la bordure lors du survol */
}
body header nav ul li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10px;
  width: 0;
  height: 5px;
  background-color: transparent;
  transition: width 0.2s ease-in-out;
}
body header .counter {
  width: 18%;
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 18px;
  font-weight: bold;
}
body header .counter #activeUserDisplay {
  text-align: left;
  display: block;
  margin-right: 10px;
}
body header .counter #activeUserDisplay img {
  width: 45px;
}
body header .counter .catch {
  background-color: #ffcb08;
  color: black;
  border-radius: 10px 0 0 10px;
  padding: 6px 10px;
  margin: 0;
}
body header .counter .notCatch {
  background-color: #7c6100;
  color: black;
  border-radius: 0 10px 10px 0;
  padding: 5px 9px;
  border: 1px solid #ffcb08;
}
body wild-list {
  background: white;
  padding: 10px 20px;
  display: block;
  width: 980px;
  margin: 75px auto 150px auto;
  border-radius: 25px;
  padding: 25px 25px;
  box-shadow: 0px 0px 30px black;
  margin-bottom: 200px;
}
body wild-list table {
  border-spacing: 1px;
  width: 100%;
}
body wild-list table thead {
  background-color: #ffcb08;
}
body wild-list table thead th {
  padding: 20px;
  text-align: left;
}
body wild-list table thead th:first-child {
  border-radius: 20px 0 0 0;
}
body wild-list table thead th:last-child {
  border-radius: 0 20px 0 0;
}
body wild-list table tbody {
  background-color: #efefef;
}
body wild-list table tbody tr {
  cursor: pointer;
}
body wild-list table tbody tr.lighter-bg {
  background-color: #efefef;
}
body wild-list table tbody tr.darker-bg {
  background-color: #ddd;
}
body wild-list table tbody tr td {
  line-height: 35px;
  padding: 10px;
  text-align: left;
}
body wild-list table tbody tr td img {
  float: left;
  margin-right: 5px;
}
body wild-list table tbody tr td:last-child {
  border-right: 0;
}
body wild-list table tbody tr:hover {
  background-color: rgba(255, 203, 8, 0.3);
}
body .captureModal {
  position: fixed;
  padding: 30px;
  background: white;
  top: 15%;
  right: 50%;
  transform: translate(50%);
  width: auto;
  border-radius: 25px;
  box-shadow: 0px 0px 30px black;
  text-align: center;
}
body .captureModal div div {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
body .captureModal p {
  background-color: #ddd;
  padding: 10px;
  text-align: center;
  margin: 0;
  border-radius: 10px;
}
body .captureModal p:first-child {
  background-color: lightgreen;
}
body .captureModal p.modal-msg {
  margin-bottom: 15px;
}
body .captureModal img {
  max-width: 400px;
}
body .captureModal #btn-back {
  border: 0;
  color: lightcoral;
  font-size: 45px;
  background-color: white;
  padding: 0;
  cursor: pointer;
}
body .captureModal #btn-back:hover {
  color: red;
}
body .captureModal #btn-capture {
  border: 0;
  color: lightcoral;
  float: right;
  font-size: 45px;
  background-color: white;
  width: 45px;
  padding: 0;
  cursor: pointer;
}
body .captureModal #btn-capture:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
body .captureModal #btn-capture img {
  width: 47px;
  margin-top: 10px;
}
body button.refreshList {
  display: block;
  position: absolute;
  right: 50%;
  transform: translate(50%);
  padding: 10px 25px;
  background: #ffcb08;
  border: 8px solid #fff;
  top: 145px;
  border-radius: 25px 25px 0 0;
  border-bottom: 0;
  z-index: 0;
  cursor: pointer;
}
body button.refreshList:hover {
  background: #ffab08;
}
body button.refreshList .refresh-img {
  width: 30px;
}
body main-history {
  background: white;
  padding: 10px 20px;
  display: block;
  width: 980px;
  margin: 50px auto 50px auto;
  border-radius: 25px;
  padding: 25px 25px;
  box-shadow: 0px 0px 30px black;
}
body main-history .history-table {
  background-color: white;
  width: 100%;
  border-spacing: 1px;
  width: 100%;
  font-size: 12px;
}
body main-history .history-table thead th {
  background: #ffcb08;
  line-height: 35px;
  padding: 0px 10px;
  text-align: left;
}
body main-history .history-table thead th:first-child {
  border-radius: 15px 0 0 0;
}
body main-history .history-table thead th:last-child {
  border-radius: 0 15px 0 0;
}
body main-history .history-table tbody {
  background-color: #eee;
}
body main-history .history-table tbody tr {
  cursor: pointer;
}
body main-history .history-table tbody tr td {
  line-height: 35px;
  padding: 0px 10px;
  text-align: left;
}
body main-footer {
  background: #003da1;
  display: block;
  position: fixed;
  bottom: 0;
  width: 100%;
}
body main-footer footer {
  padding: 25px;
  display: flex;
  width: 980px;
  justify-content: space-between;
  margin: 0 auto;
  color: white;
}
body main-footer footer .users {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
body main-footer footer .users a {
  width: 25%;
  text-decoration: none;
}
body main-footer footer .users .userCard {
  text-transform: uppercase;
  color: #ffcb08;
  position: relative;
  text-align: center;
  padding: 15px;
  background-color: #003eaf;
  border-radius: 15px;
}
body main-footer footer .users .userCard img {
  width: 35px;
}
body main-footer footer .users .userCard h4 {
  margin: 10px 0 10px 0;
}
body main-footer footer .users .userCard .nbrPkm {
  text-transform: none;
  color: white;
}
body main-footer footer .users .currentUser {
  background-color: #ffcb08;
  border-radius: 15px;
  color: black;
}
body main-footer footer .users .currentUser .nbrPkm {
  text-transform: none;
  color: #555;
}

/*# sourceMappingURL=style.css.map */
