body {
  background-image: url('../../public/img/background.jpg');
  background-attachment: fixed;
  font-family: arial, Helvetica, sans-serif;
  margin:0;
 
      header {
        display: flex;
        background: #000;
        padding:30px;
        .logo {
          width: 18%;
        }
        nav {
          width: 77%;
          text-align: center;
          ul {
            list-style-type: none;
            padding: 10px 0;
            display: flex;
            justify-content: center;
            align-items: end;
            li {
              margin-right: 20px;
              a {
                text-decoration: none;
                text-transform: uppercase;
                font-family: 'Arial Narrow Bold', sans-serif;
                padding: 56px 10px;
                color: #fff;
                transition: ease-in-out 0.2s;
                font-size: 15px;
                font-weight: bold;
                position: relative;
                &:hover::before {
                  width: 82%;
                  background-color: #ffcb08; /* Couleur de la bordure lors du survol */
                }

                &::before {
                  content: '';
                  position: absolute;
                  bottom: 0;
                  left: 10px;
                  width: 0;
                  height: 5px;
                  background-color: transparent;
                  transition: width 0.1s ease-in-out;
                }
              }
              
            }
          }
        }

        .counter {
          width: 5%;
          display: flex;
          align-items: center;
          justify-content: end;
          font-size: 18px;
          .catch {
            background-color: green;
            color: white;

            border-radius: 30px;
            padding: 5px;
            margin: 0;
          }
          .notCatch {
            background-color: red;
            color: white;
            border-radius: 30px;
            padding: 5px;
            margin-left: 5px;
          }}
        
      
    }
    wild-list {
      background: white;
      padding: 10px 20px;
      display:block;
      width:980px;
      margin:75px auto 50px auto;
      border-radius: 25px;
      padding:25px 25px;
      box-shadow: 0px 0px 30px black;
      table{
        border-spacing:1px;
        width:100%;
        
        
      thead{
        background-color: #ffcb08;
        th{
          padding:20px;
          text-align: left;
          &:first-child{
            border-radius: 20px 0 0 0;
          }
          &:last-child{
            border-radius: 0 20px 0 0;
          }
        }
      }
      tbody{
        background-color: #efefef;
        tr{
          cursor: pointer;
          &.lighter-bg{
            background-color: #efefef;
          }
          &.darker-bg{
            background-color: #ddd;
          }
          td{
            line-height:35px;
            padding: 10px;
            text-align: left;
            img{
              float: left;
              margin-right: 5px;
            }
            
            &:last-child{
              border-right: 0;
              
            }
          }
          &:hover{
            background-color: #ccc;
          }
         }
      }
    }
    }
    button.refreshList{
      display: block;
      position:absolute;
      right:50%;
      transform: translate(50%);
      padding: 10px 25px;
      background:#ffcb08;
      border: 8px solid #fff;
      top:143px;
      border-radius: 25px 25px 0 0;
      border-bottom:0;
      z-index: 0;
      cursor: pointer;
      &:hover{
        background:#ffab08;
      }
      .refresh-img{
        width: 30px;
      }

    }
    main-footer{
      background: #003da1;
      display:block;
    footer {
      padding: 25px;
      display: flex;
      width:980px;
      justify-content: center;
      margin:0 auto;
      color: white;
      justify-content:space-evenly;
      div{
        width:21%;
        img{
          width:100px;
        }
      }
      .users{
        display: flex;
        width:79%;
        div{
          width:33%;
        }
        .userCard{
          text-transform: uppercase;
          color:#ffcb08;
          position:relative;
          
          img{
            float: left;
            width:35px;
            margin-right:15px;
            position: absolute;
            left:-45px;
            top:0px;
          }
          h4{
            margin:10px 0 10px 0;
            
          }
          .nbrPkm{
            text-transform: none;
            color:white;
          }
        }
      }
    }
  }
}
  